@import '../../styles/_base.scss';

:host {
    display: block;
    margin:auto;
    margin-top:$sectiongap;
    
}
.section-heading > h2{

    @include section-heading;
}

#education {
    @include section-heading;
}