@import '../../styles/_base.scss';

:host {
    display: block;
    margin:auto;
    width:100%;
    line-height:200%;;
    text-align:center;
    padding:24px;
    background-color:$sectionbg;
    margin-top:1vh;
}


.aboutcontainer {
    width:90%;
}

.aboutcontainer > p {
}