@import '../../styles/_base.scss';

:host {
    display: block;
    margin-top:1vh;

}
.awards {
    background-color:$sectionbg;
    margin-top:1vh;
    padding:2em;
    
}

.awardheader {
    @include section-heading;
}
.awarddescription {
    text-align:center;
    margin-top:1.2em;
}

.awardtitle {
    text-align:center;
    font-weight:bold;
}