:host {
    display: block;

}
#headerdiv {
    padding:20px;
    width:40%;
    margin:auto;
}

#projdecsection {
    width:40%;
    font-size:1.1em;
    line-height:140%;

    margin:auto;
    text-align:center;

}
