@import '../../styles/_base.scss';

:host {
    display: block;
    padding:1em;
    margin-top:$sectiongap;
    background-color:$sectionbg;

}
#headerdiv {
    padding:20px;
    margin:auto;
}

#projdecsection {

    font-size:1em;
    line-height:140%;
    margin:auto;
    text-align:center;

}

paper-shadow {
    background-color:$sectionbg;
}
core-animated-pages .core-selected  {
    position: relative;
    display: block;
}