@import '../../styles/_base.scss';

:host {
    display: block;
    margin:auto;
    margin-top:1vh;
    line-height:300%;

    }

#skillheader {
    @include section-heading;
    
}


span {
    padding:0.3em;
    background-color:#526e9c;
    color:rgb(255,255,255);
    border-radius:4px;
    }
#skillheader {
    padding:2em;
    background-color:$sectionbg;
}

#skillscontainer {
    background-color:$sectionbg;
    margin-top:$sectiongap;
}
.container {
    width:95%;
    height:90%;
    margin:0 auto;
    margin-left:1vw;
}
div.header {
    margin-left:1vw;
}