:host {
    display: block;
    height:1.2em;
    margin:auto;
    padding:1em;
    width:80%;
    line-height:110%;
    }

h2 {
    text-align:center;
}

h3 {
    margin-top:2em;
    margin-left:1em;
    position:relative;
    left:-4em;
    bottom:1.4em;
    margin-right:1em;
    font-size:90%;

}
span {
    padding:0.5em;
    background-color:#526e9c;
    color:rgb(255,255,255);
    border-radius:4px;
    }
#skillheader {
  padding:2em;
  }
